html {
    background: linear-gradient(#d764e6, #9198e5);
    background-attachment: fixed;
    height: 100%;
}
body {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-family: "Questrial", sans-serif;
}
h1 {
    margin: 20px;
}
table {
    text-align: center;
    display: inline-block;
}
tbody {
    text-align: center;
    margin: auto;
}
.hall p {
    padding-left: 5px;
    padding-right: 5px;
}
.hall {
    float: left;
    position: absolute;
    background: #ffffff;
    border: 3px solid black;
    text-align: center;
    margin-left: 130px;
    margin-top: 30px;
}
.hint {
    outline: 5px solid #82078d;
}
#restart {
    display: none;
    margin: 20px;
}
.hide {
    background: linear-gradient(#e66465, #9198e5);
}
.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;

}
.cell img {
    width: 20px;
    height: auto;
}
.safe {
    background-color: lightslategray; 
}
.mine {
    background-color: red;
}
.clock {
    margin: 10px;
}
#smiley img {
    width: 30px;
    height: auto;
    display: inline-flex;
}
.container button {
    margin: 10px;
    text-align: center;
    display: inline;
}
.container img {
    display: inline-block;
    width: 25px;
    height: auto;
}
.container {
    margin:20px;
}
.lives {
    margin: 1px;
    text-align: center;
    padding: 5px;
    display: inline-flex;
}
.restart {
    padding: 20px;
    margin: 20px;
}
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 3rem;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
    display: none;
}
.message {
    font-size:1.1rem;
    margin-bottom: 1.6rem;
    margin-top: 0;
}
.btn {
    color:inherit;
    font-family:inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 3.4rem;
    border: 3px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}
  
.btn:last-child {
    margin: 0;
}
  
.btn:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
}
  
.btn:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}
  
.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  